.cart-list-wrapper {
    display: flex;
    flex-flow: column;
    margin-top: 30px;
    align-items: center;
    padding: 20px;
    color:rgb(114, 114, 114);
}

.cart-list-title{
    margin-top:40px;
    margin-bottom:20px;
}

.cart-empty{
    width:382px;
    padding:40px 0;
    text-align: center;
    color:black;
}

.cart-list-wrapper button{
    margin-top:20px;
}

@media screen and (max-width: 767px) {
    
}
