.cart-list-wrapper {
    display: flex;
    flex-flow: column;
    margin-top: 30px;
    align-items: center;
    padding: 20px;
    color:rgb(114, 114, 114);
}

.cart-empty{
    width:382px;
    padding:40px 0;
    text-align: center;
    color:black;
}

@media screen and (max-width: 767px) {
    .cart-list-wrapper {
        width: calc(90vw - 40px);
        align-items: center;
    }
}
