.card-feed-filter-wrapper{
    display:flex;
    justify-content: center;
}

.card-feed-filter-category{
    margin:0 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.card-feed-filter-category-title{
    margin-bottom:3px;
    color:rgb(200, 200, 200);
    font-family: "Space Grotesk";
}

.card-feed-filter-subcategorys-wrapper{
    display:flex;
}

@media screen and (max-width: 1000px) {
    .card-feed-filter-wrapper{
        padding:20px 40px;
        padding-top: 10px;
        justify-content: flex-start;
    }
}
