.nav-user-profile-nav{
  width:400px;
  padding:60px;
}
.right-nav-container{
  display:flex;
  align-items: center;
}

.nav-upper-container{
  color:black;
  display:flex;
  width:calc(100% - 60px);
  justify-content: space-between;
}
.nav-user-name-wrapper{
  display: flex;
  flex-flow: column;
}
.nav-lower-container{
  width:100%;
  display:flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.nav-lower-content-container{
width:100%;
border-radius: 20px;
justify-content: center;
align-items: center;
  background-color: white;
}

.nav-lower-container-logged-out{
  padding-top: 40px;
}
.nav-user-img-edit-wrapper{
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
}
.nav-user-img-edit-wrapper a{
  font-family: "Space Grotesk" !important;
  text-decoration: none;
  color:black;
  cursor: pointer;
  font-size: 12px;
}

.nav-user-email{
  font-size: 13px;
  margin-top: 5px;
}

.nav-user-name {
  margin-left: 5px;
}

.nav-user-img{
  width:40px;
  height:40px;
  object-fit: contain;
  border-radius: 100%;
  box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.087);
  /* border:3px solid rgb(237, 236, 236); */
  margin-bottom:5px;
}
.nav-storefront-outer-container{
  padding:20px 0;
  /* box-shadow: 0px 8px 13px 1px rgba(0, 0, 0, 0.087); */
  background-color: #f7f7f7;
  border-radius: 20px;
  margin:20px 0;
}
.nav-storefront-container{
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
  padding-bottom:0;
}
.nav-storefront-container span{
  margin:10px 0;
}
.nav-storefront-container img{
  width:100%;
  border-radius: 5px;
  height:60px;
  object-fit: cover;
}
.nav-storefront-description-container{
  width:calc(100% - 40px);
  background-color: white;
  border-radius: 5px;
  padding:20px;
}
.nav-storefront-title-wrapper{
  display:flex;
  align-items: center;
  margin:0 auto;
  margin-bottom:25px;
}
.nav-storefront-title-wrapper{
  white-space: nowrap;
}
.nav-storefront-edit-wrapper{
  margin-left:10px;
  cursor: pointer;
  font-size: 12px;
}
.nav-user-info-wrapper{
  display:flex;
  align-items: center;
  width:100%;
}
.demo-warning {
  color: rgb(254, 97, 97);
  background-color: white;
  font-size: 12px;
  border:1px solid red;
  width:250px;
  margin:10px auto;
}
@media screen and (max-width: 540px) {

  .nav-user-profile-nav{
    width:calc(100vw - 180px);

  }
  .demo-warning{
    width:100%;
  }
}
