.homepage-filter-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 13px 1px rgba(0, 0, 0, 0.087);
    background-color: #f7f7f7;
    height:100px;
    width:100%;
}
