.homepage-filter-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 13px 1px rgba(0, 0, 0, 0.087);
    background-color: #f7f7f7;
    width:calc(100vw);
    padding:10px 0;
}
.homepage-feed-wrapper{
    height:calc(100vh - 285px);
    overflow-y: auto;
}
