.hidden {
  display: none
}

.show-profile-list {
  display: flex;
}

.profile-icon {
  font-size: 25px;
  cursor: pointer;
  color: #dbdcdd !important;
}

.profile-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.profile-icon-button {
  background: none;
  z-index: 30000;
  border: none;
}

.profile-list {
  position: absolute;
  border-radius: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
  background-color: white;
  top:-17px;
  right: -72px;
  box-shadow: 0px 8px 13px 1px rgba(0, 0, 0, 0.087);
}

@media screen and (max-width: 767px) {

  .profile-container {
    position:initial;
    display: flex;
    justify-content: flex-end;
  }

  .profile-list {
    position:fixed;
    width: 100vw;
    margin-top:40px;
    left:0;
  }

}
