.star-setter-star{
    font-size: 18px;
}

.star-setter-unselected{
    color:rgb(224, 224, 224);

}

.star-setter-selected{
    color:rgb(181, 181, 181);

}
.star-setter-clickable i{
    cursor:pointer !important;
}
