.product-card-wrapper{
    margin:10px;
    border-radius: 40px;
    width:250px;
}

.product-card-wrapper img {
    border-radius: 40px;
    width:250px;
    height:250px;
    box-shadow: 0px 8px 13px 1px rgba(0, 0, 0, 0.087);

}

.product-card-details-wrapper{
    display:flex;
    flex-flow:column;
    align-items: flex-start;
    padding:10px 30px;
}

.product-card-quantity-wrapper{
    display:flex;
}

.product-card-name-wrapper{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.product-card-name-wrapper i {
    font-size: 14px;
}

.product-card-name{
    font-weight: 700;
    font-family: "Space Grotesk";
    margin-bottom: 10px;
    max-width:180px;
    font-size: 14px;
}

.product-card-star{
    font-size: 12px;
    color:rgb(181, 181, 181);
}

.product-card-price{
}

.product-card-details-wrapper a{
    text-decoration: none;
    color:black;
    cursor:pointer;
    font-family: "Space Grotesk";
    font-size: 12px;
    align-self: center;
}
