.product-card-wrapper{
    width:150px;
    margin:10px;
    border:1px solid black;
    border-radius: 10px;
    overflow: hidden;

}

.product-card-wrapper img {
    width:150px;
    height:150px;
}

.product-card-details-wrapper{
    display:flex;
    flex-flow:column;
    align-items: center;
    padding:10px;
}

.product-card-quantity-wrapper{
    display:flex;
}
