* {
    margin: 0;
    padding: 0;
}

button{
    background-color: rgb(223, 252, 255);
    padding:5px;
    margin:5px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
}

.app-wrapper{
    display:flex;
    flex-flow: column nowrap;
    width:100%;
    height:100vh;
    overflow-y: auto;
}

.app-row{
    display:flex;
    flex-flow: column nowrap;
    width:100%;
    align-items: center;
}


.app-body-wrapper{
    /* border:1px solid orange; */
    height:calc(100vh - 100px);
    overflow-y: auto;
}
.app-body-content-wrapper{
    border:1px solid transparent;
    width:1024px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.input-error{
    color:red;
}
