* {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk";
}
h1, h2{
    font-family: "Montserrat Alternates";
    color: #7a7a7a

}
i{
    cursor: pointer;
}
.app-wrapper {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
}

.app-row {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
}


.app-body-wrapper {
    height: calc(100vh - 100px);
    width:100%;
}

.app-body-content-wrapper {
    width:100%;
    display: flex;
    justify-content: center;
}
.active{
    width:fit-content;
    padding:0;
    height:fit-content;
}
.input-error {
    color: red;
}
.nav-user-details-wrapper{
    margin-left: 16px;
}
.nav-user-name-wrapper {
    display: flex;
    flex-flow: row nowrap;
}
.nav-user-name{
    display:inline-block;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav-user-name-wrapper div,
.nav-user-name-wrapper span {
    font-family: roboto, Helvetica, sans-serif !important;
}
