.navigation-content-auth-buttons-wrapper{
    display: flex;
    margin-top:60px;
    width:260px;
    justify-content: center;
        padding:20px;
        max-width: 260px;
}
.navigation-content-auth-buttons-wrapper > a{
    margin-bottom:10px;
}

@media screen and (max-width: 767px) {
    .navigation-content-auth-buttons-wrapper{
        width:calc(90vw - 40px);
        /* flex-flow: column nowrap; */
        align-items: center;
    }
  }
