.cart-list {
  position: absolute;
  border-radius: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
  background-color: white;
  top:-17px;
  right: -20px;
  min-width: 288px;
  z-index: -100;
  box-shadow: 0px 8px 13px 1px rgba(0, 0, 0, 0.087);
}

.hidden {
  display: none
}

.show-cart-list {
  display: flex;
}

.cart-icon-button {
  font-size: 20px;
  cursor: pointer;
  color: #dbdcdd !important;
}

.cart-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.cart-icon-button {
  background: none;
  z-index: 20000;
  border: none;
}

@media screen and (max-width: 767px) {

  .cart-list {
    top: -20px;
    right: -110.5px;
  }
}
