.cart-list {
  position: absolute;
  border-radius: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
  background-color: white;
  top:-17px;
  right: -20px;
  min-width: 288px;
  z-index: -100;
  box-shadow: 0px 8px 13px 1px rgba(0, 0, 0, 0.087);
}

.hidden {
  display: none
}

.show-cart-list {
  display: flex;
}

.cart-icon-button {
  font-size: 20px;
  cursor: pointer;
  color: #dbdcdd !important;
}

.cart-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.cart-icon-button {
  background: none;
  z-index: 20000;
  border: none;
}

.cart-logged-out-wrapper{
  display: flex;
  height:300px;
  width:fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:0 60px;
  font-size: 20px;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .cart-list {
    position:fixed;
    width: 100vw;
    margin-top:40px;
    left:0;
  }
}
